{% extends 'shared/_Layout.html' %}
{% load render_partial %}
{% block title %}
ChangePassword
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 pull-right">

                {% render_partial 'User_Panel_Module.views.UserPanel_Menu_Component' %}

            </div>
            <div class="col-md-8">
                {%  if Form.errors %}
                    {% for field in Form.fields %}
                        {% for error in field.error %}
                            <div class="alert-danger alert">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                    {% endfor %}
                {% endif %}
                <form enctype="multipart/form-data" action="{% url 'ChangePassword_Url' %}" method="post" >
                    {% csrf_token %}
                    {{ Form.as_p }}
                    <button type="submit" class="form-control btn-primary" href="{% url 'ChangePassword_Url' %}" > تغییر پسورد</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}