{%  extends 'shared/_Layout.html' %}
{% load static  %}
{% load render_partial %}
{% load thumbnail %}
{% block title %}
EditeUserPanel
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row ">
      <div class="col-md-4  pull-right">
{#      {% if current_user.avatar %}#}
{#          {%  thumbnail  current_user.avatar  '150x100' quality=110 crop='center' as IM %}#}
{#          <img style="width: 100%" src="{{ IM.url }}" alt="">#}
{#          {% endthumbnail %}#}
{##}
{#          {% else %}#}
{#           <img style="width: 100%" src="/static/images/blog-one.jpg" alt="">#}
{##}
{#      {% endif %}#}
            {%  render_partial 'User_Panel_Module.views.UserPanel_Menu_Component' %}
      </div>
    <div class="col-md-8">
    <form enctype="multipart/form-data" action="{% url 'EditUserProfile_Url' %}" method="post"  >
        {% csrf_token  %}
             {{ form.as_table }}
        <button type="submit" class="btn-primary" href="{% url 'EditUserProfile_Url' %}">ثبت</button>
    </form>
    </div>
</div>

</div>
{% endblock %}