{% extends 'shared/_Layout.html' %}
{% load static %}
{% block title %}
    {{ Navbar.Contact }}
{% endblock %}
{% block content %}
    <div id="contact" class="contact-area">
        <div class="contact-inner area-padding">
            <div class="contact-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>{{ Navbar.Contact }}</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start contact icon column -->
                    <div class="col-md-4">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="bi bi-phone"></i>
                                <p>
                                    {{ Navbar.Call }}: {{ Site_Setting.Phone_1 }}<br>
                                    <span>{{ Site_Setting.Phone_2 }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <div class="col-md-4">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="bi bi-envelope"></i>
                                <p>
                                    {{ Navbar.Email }}: {{ Site_Setting.Email }}<br>
                                    <span>Web:{{ Site_Setting.Site_Url }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <div class="col-md-4">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="bi bi-geo-alt"></i>
                                <p>
                                    {{ Navbar.Location }}: {{ Site_Setting.Address }}<br>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- Start Google Map -->
                    <div class="col-md-6">
                        <!-- Start Map -->
                        <iframe src="{{ Site_Setting.Location }}" width="100%" height="380" frameborder="0"
                                style="border:0" allowfullscreen></iframe>

                        <!-- End Map -->
                    </div>
                    <!-- End Google Map -->

                    <!-- Start  contact -->
                    <div class="col-md-6">
                        <div class="form contact-form">


                            <form action="{% url 'Contact_Page_url' %}" method="post"  class="">
                                {% csrf_token %}
                                <div class="form-group">
                                    {#                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>#}

                                    {{ form.full_name }}
                                    {{ form.full_name.error_messages }}
                                </div>
                                <div class="form-group mt-3">
                                    {#                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>#}
                                    {{ form.email }}
                                    {{ form.email.error_messages }}
                                </div>
                                <div class="form-group mt-3">
                                    {#                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>#}
                                    {{ form.title }}
                                    {{ form.title.error_messages }}
                                </div>
                                <div class="form-group mt-3">
{#                                    <textarea class="form-control" name="message" rows="5" placeholder="Message"#}
{#                                              required></textarea>#}
                                    {{ form.message }}
                                    {{ form.message.errors }}


                                </div>
                                <div class="my-3">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-info" type="submit">{{ Site_Setting.Send_Message }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Left contact -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}