{% load static %}
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/js/../../assets/js/Custom.js' %}"></script>
  <script src="{% static 'assets/js/jquery.js' %}"></script>
  <script src="{% static 'assets/js/jquery.prettyPhoto.js' %}"></script>
  <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>#}


{#  <script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>#}


  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>